:root {
    --mian-color: #045BE9;
    --mian-color-alt: #3B67AE;
    --translation: 0.3s;
    --Padding-top: 100px;
    --Padding-bottom: 100px;
    --background-color: #ffffff;
    --background-color-main: #F8F9FB;
    --delete: rgba(224, 0, 0, 0.63);
}

.all_part2 {
    display: flex;
    gap: 10px;
}

.form_edite_pharm_home {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.edite_info {
    background-color: var(--background-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    padding: 20px;
    margin: 10px 0;
    border: 2px solid var(--mian-color-alt);
    box-shadow: 0 0 10px var(--mian-color-alt);
}

.title {
    margin: 10px 0;
    font-weight: bolder;
    letter-spacing: 2px;
    color: var(--mian-color-alt);
}

.name2,
.email2,
.password2,
.location {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.name2 label,
.email2 label,
.password2 label,
.location label {
    font-size: 1.2em;
    font-weight: bolder;
    margin: 10px 0;
    text-transform: capitalize;
}

.name2 input,
.email2 input,
.password2 input,
.location input {
    border: none;
    background-color: #ecebed;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.btn_edit {
    display: flex;
    justify-content: end;
}

.btn_edit button {
    margin: 10px;
    width: 10%;
    padding: 10px;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
    background-color: var(--mian-color-alt);
    border: 1px solid var(--background-color-main);
    outline: 2px solid var(--mian-color-alt);
}

/* quantity */
.med {
    margin: 0 10px;
}

.search {
    width: 100%;
}

.search input {
    border: none;
    background-color: #ecebed;
    border-radius: 20px;
    padding: 10px;
    width: 50%;
    margin-bottom: 10px;
}

.search button {
    padding: 5px;
    border-radius: 50%;
    border: 1px solid var(--background-color);
    outline: 1px solid var(--mian-color-alt);
    background-color: var(--mian-color-alt);
    cursor: pointer;
}

.cards2 {

    width: 100%;
    /* height: 280px; */
    gap: 5px;
    margin: 0 10px;
    grid-template-columns: repeat(auto-fill, minmax(326px, 3fr));
    display: grid;
}

.cards2 .card {
    background-color: var(--background-color);
    border-radius: 20px;
}

.btn_med,
.btn_med2 {
    display: flex;
    justify-content: center;
}

.btn_med button,
.btn_med2 button {
    margin: 10px;
    width: 35%;
    padding: 10px;
    border-radius: 20px;
    font-weight: 700;

    cursor: pointer;
}

.two button {
    background-color: var(--mian-color-alt);
    border: 1px solid var(--background-color-main);
    outline: 2px solid var(--mian-color-alt);
}

.btn_med2 button {
    background-color: var(--mian-color);
    border: 1px solid var(--background-color-main);
    outline: 2px solid var(--mian-color);
}

.counter_sales {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    /* gap: 10px; */
}

.counter_sales span {
    font-size: 1.6em;
    font-weight: 800;
    border: 1px solid;
    /* background-color: var(--mian-color-alt); */
    padding: 10px;
}

.counter_sales .inc,
.counter_sales .dec {
    cursor: pointer;
}

.btn_read {
    display: flex;
    flex-direction: row-reverse;
}

.btn_read button {
    border: 1px solid var(--background-color-main);
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: var(--mian-color-alt);
    outline: 2px solid var(--mian-color-alt);
}


.message {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 12px;
    background-color: #fff;
    border: 2px solid #ddd;
    transition: 0.3s;
}

.messages .message p {
    background-color: white;
    padding: 15px 12px;
    margin: 0;
    border-radius: 10px;
}

.message.unread {
    border-color: #007bff;
    background-color: #eaf2ff;
}

.not {
    /* width: 25px; */
    /* height: 25px; */
    /* background-color: var(--mian-color-alt); */
    /* border-radius: 50%; */
    color: black;
}
.change{
   width: 20%;
}