:root {
  --mian-color: #045BE9;
  --mian-color-alt: #3B67AE;
  --translation: 0.3s;
  --Padding-top: 100px;
  --Padding-bottom: 100px;
  --background-color: #ffffff;
  --background-color-main: #F8F9FB;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  /* direction: rtl; */
  background-color: var(--background-color-main);
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;

}

/*-------------------------------------------*/
/*Start Header*/
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*Small*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/*Medium*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/*Large*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/*-------------------------------------------*/
.sidebar {
  width: 30%;
  background-color: var(--background-color);
  height: 100vh;
  display: table-header-group;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  position: sticky;
  /*
      position: fixed; */
}

.content {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.sidebar .content h3 {
  letter-spacing: 1.2px;
  font-weight: bolder;
  text-transform: capitalize;
  padding: 30px 0;
  color: var(--mian-color-alt);
}

.sidebar .content .logo {
  width: 100%;
  border-radius: 50%;
  height: 75px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar .content .logo img {
  border-radius: 50%;
  height: inherit;
}

.sidebar .content ul {
  position: relative;
  width: 100%;
}

.sidebar .content ul li {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  font-size: 1.1em;
  /* background-color: white; */
  position: relative;
  border-radius: 0 10px 10px 0;
  transform: translateX(-9px);
  /* width: 105%; */
  margin: 10px 0;
}

.sidebar .content ul li i {
  width: 25%;
  display: flex;
  justify-content: center;
  /* color: var(--mian-color-alt); */
}

.sidebar .content ul li a {
  width: 75%;
  background-color: transparent;
  padding: 0 10px;
  display: flex;
  text-transform: capitalize;
}

.sidebar .content ul li:hover a {
  /* color: var(--background-color-main); */
  /* transition: 1s; */
  font-weight: bolder;
}

/* .sidebar .content ul i:hover {
  color: var(--mian-color-alt);
  transition: 3s;
} */
.sidebar .content ul li:hover {
  background-color: var(--mian-color-alt);
  transition: 3s;
  width: 105%;
}


/* ----------------------------------- */
/* .cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 10px;
}

.all_part {
  display: flex;
  width: 100%;
} */
.all_part {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cards {

  width: 77%;
  height: 280px;
  gap: 5px;
  margin: 0 10px;
  grid-template-columns: repeat(auto-fill, minmax(326px, 3fr));
  display: grid;
}

.cards .card {
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  height: 260px;
  min-height: 260px;
  max-height: 261px;
  display: flex;
  background-color: var(--background-color);
  flex-direction: column;
  align-items: center;
  margin: 10px 0 0 0;
  text-align: center;
}


.cards .card .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 260px;
  max-height: 260px;
}

.cards .card .content button {
  border: 2px solid var(--background-color);
  outline: none;
  width: 50%;
  margin: 10px;
  padding: 9px;
  border-radius: 10px;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: bolder;
}

.cards .card .content .details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cards .card .content .details h3 {
  display: flex;
  text-transform: capitalize;

}

.cards .card .content .btns {
  display: flex;
  justify-content: space-between;
}

.cards .card .content .btns .delete {
  background-color: red;
}

.cards .card .content .btns .details {
  background-color: var(--mian-color-alt);
}

.image {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  padding: 10px;
}

.image img {
  width: 50%;
  max-width: 50%;
  height: 148px;
  max-height: 148px;
}

.name,
.place,
.profit,
.sals,
.price,
.email,
.password,
.quantity {
  display: flex;
  align-items: center;
}
