:root {
    --mian-color: #045BE9;
    --mian-color-alt: #3B67AE;
    --translation: 0.3s;
    --Padding-top: 100px;
    --Padding-bottom: 100px;
    --background-color: #ffffff;
    --background-color-main: #F8F9FB;
}

.rest_part {
    width: 75%;
    margin-top: 10px;
}

.top_side {
    border-radius: 20px;
    width: 100%;
    height: 250px;
    /* flex-wrap: wrap; */
    gap: 10px;
    display: flex;
}

.all_part2 {
    gap: 10px;
    display: flex;
    width: 100%;
}

.title {
    margin: 12px;
    font-weight: bolder;
    letter-spacing: 2px;
    color: var(--mian-color-alt);

}

.line_chart {
    width: calc(100% - 44%);
    height: 250px;
    background-color: var(--background-color);
    border-radius: 20px;
}

.personal_info {
    background-color: var(--background-color);
    border-radius: 20px;
    width: 45%;
}

.stock {
    background-color: var(--background-color);
    border-radius: 20px;
}

.content_stock {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 3fr));
    align-items: center;
    margin: 10px 15px;
}

.number_of_med,
.Capital,

.content_stock .sals {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.number_of_med h2,
.Capital h2,

.content_stock .sals h2 {
    margin: 0 0 20px 0;
}

.number_of_med span,
.Capital span,

.content_stock .sals span {
    font-size: 1.5em;
    font-weight: bolder;
    margin: 0 0 10px 0;
    color: var(--mian-color);
}

.bills {
    background-color: var(--background-color);
    border-radius: 20px;
}

.top_part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

.top_part button {
    outline: none;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--background-color-main);
    outline: 2px solid var(--mian-color-alt);
    cursor: pointer;
    font-weight: bolder;
    background-color: var(--mian-color-alt);
    font-size: 15px;
}

.top_part button:hover {
    background-color: var(--background-color);
    transition: 3s;
}

table {
    width: 96%;
    text-align: center;
    padding: 10px;
    margin: 10px 20px;
}

th,
td {
    padding: 20px 30px;
}

table,
th {
    border: 1px solid var(--mian-color);
    border-collapse: collapse;
}

td {
    border-right: 1px solid var(--mian-color);
}

td input:hover {
    cursor: pointer;
}

td button {
    outline: none;
    border: 2px solid var(--mian-color);
    padding: 10px;
    border-radius: 10px;
    background-color: var(--background-color);
    cursor: pointer;
    font-weight: bolder;
    font-size: 15px;
}